In [1]:
age = int(input("enter the age"))
if age>=0 and age<=18:
    print("x")
elif age>=18 and age<=30:
    print("y")
elif age>=30 and age<=45:
    print("z")
elif age>=45 and age<=60:
    print("xzz")
else:
    print("xzzz")

enter the age45
z

In [2]:
dfStroke = pd.read_csv('tipsdataset.csv')

In [4]:
dfStroke.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
y = [1,2,3,4,5,6,7+8j, "Hello", [200,300,400]]
print(y[8][1])

300

In [3]:
g = ["2022-09-03"]
x = ''
z = x.join(g)
print(type(z))
print(z[5:7])

<class 'str'>
09

In [4]:
a,b,c = 1,2,3
if a+b+c:
    print("hello")
else:
    print("bye")

hello

In [14]:
def twoSum(nums,target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: List[int]
        """
        onums = []
        for a in range(0,len(nums)-1):
            for b in range(1,len(nums)):
                print(a,b)
                if a==b:
                    continue
                    
                elif nums[a] + nums[b] == target:
                    onums.append(a)
                    onums.append(b)
                    
                    
        return(onums[:2])
#         op = {}
#         for i, b in enumerate(nums):            
#             a = target - b
#             if a in op:
#                 return [op[a], i]
#             op[b] = i
                    
twoSum([2,5,5,11],10)

0 1
0 2
0 3
1 1
1 2
1 3
2 1
2 2
2 3

[1, 2]