In [16]:
x = "xyz"

print(type(x))

<class 'str'>

In [25]:
# Different ways/types to declare variables
# age = 25 #integer
# salary = 2000.50 #float
# name = "Xyz" #str
# ways
# age,salary,name = 25,2000.50, "Xyx"

x=y=z=1000
x = 5000
print(x)

    
# print(age)
# print(salary)
# print(name)

5000

In [26]:
# Re declare a same variable; dont do this
age = 25
salary = 2000.50 #float
name = "Xyz" #str

age = 26
print(age)

26

In [27]:
# Addition of two variables
# name1="x"
# name2 = "y"

num1=10
name3 = "y"


print(name1+name2)

NameError: name 'name1' is not defined

## data type in Python ''Builtin''

1. Nums
2. Bool
3. string
4. Dict
5. Set
6. Sequences types = Strings, List, Tuple

In [9]:
# Nums type data/ numerical values
variab = 555
print("nums/numerical data ", variab)
# print(type(variab))

# Bool type of data
print(type(True))
print(type(False))
var = 'Hello there welcome of ds AugBatch'
print("Hello" in var)

 
# Set datatype 
set1 = set("Ekeeda")
print(set1)
 
# Dict or Dictionary datatype

Dict = {1: 'Welcome', 2: 'to', 3: 'ekeeda'}
print(Dict[2])


# Sequences
# 1> Strings
# Strings are immutable i.e they cant be changed

name = "Ekeeda"
print(name[2]) 
name[2] = 'k' #updating the value
# print(name)

# 2> Lists
# There are mutable and can be defined using () or [] brtackets



li1= ['python', 'Is', 'The', 'Best']
li2= []
li3= [101, ['Hey', 2022], 3.17]
li4= [{'The': 'python'}, (1, 2)]


print(li1)
li1[1] = 'Dhee'
print(li1)


# 3.> Tuples 
# They are declared using () or tuple() and are immutable

tup1= ['python', 'Is', 'The', 'Best']
tup2= tuple()
tup3= [101, ['Hey', 2022], 3.17]
tup4= [{'The': 'python'}, (1, 2)]

nums/numerical data  555
<class 'bool'>
<class 'bool'>
True
{'a', 'k', 'E', 'd', 'e'}
to
['python', 'Is', 'The', 'Best']
[101, ['Dhee', 2022], 3.17]

### Type Conversion in Python
        >Types:
        1. Implicit
        2. Explicit Conversion
    -int(a, base)
    -float()
    -ord()
    -tuple()
    -set()
    -list()
    -dict()
    -str()

In [61]:
# Example of implicit
x = 5
y = 5.5
# print(int(z))
# print(x+y)

# Explicit conversion examples:
# 1. Int
# var = "45"
# varr2 = int(var)
# print(varr2)

# 2.Float
# x = 5
# var = float(x)
# print(var)


# 3. Ord()

# var = '48'
# temp = ord(var)
# print(temp)


# 4. Tuple()

# var = "Ekeeda"
# print(type(var))












# # 5.list()

# print(list(var))

# # 6. set

# print(set(var))

# 7. dict()

# var = ((1,'a'),(2,'b'))

# print(dict(var))
# 8. str()

var = 1
print(str(var))

1

###            Bitwise operators
    1. &         AND	 x & y
    2. |	      OR	 x | y
    3. ~	      NOT	 ~x
    4. ^	     XOR	 x ^ y
    5. >>	Bitwise right shift	x>>
    6. <<	Bitwise left shift	x<<

In [33]:

a = 10
b = 4
 
#  bitwise AND operation
# When both are true=true else false
print("a & b =", a & b)
 
# bitwise OR operation
# if any of the value is true=true
print("a | b =", a | b)
 
# bitwise NOT operation

print("~a =", ~a)
 
# bitwise XOR operation
print("a ^ b =", a ^ b)

print(bin(a)[2:])
print(bin(a>>1)[2:])

-100

### Conditional statements

In [ ]:
x = 0
y = 5

if x < y:                            
    print('yes')

 if y < x:                           
     print('yes')


if x:                                
    print('yes')

if y:                                
    print('yes')



if x or y:                          
     print('yes')


 if x and y:                         
    print('yes')


if 'Dhee' in 'Dheeeraj':                
     print('yes'
if 'x' in ['a', 'v', 'x']: 
    print('yes'

In [22]:
# name = 'Joe'
# if name == 'Fred':
#     print('Hello Fred')
# elif name == 'Xander':
#     print('Hello Xander')
# elif name == 'Joe':
#   print('Hello Joe')
# elif name == 'Arnold':
#    print('Hello Arnold')
# else:
#     print("I don't know who you are!")
    
    
#     __________________________________________________

names = {
  'Fred': 'Hello Fred',
 'Xander': 'Hello Xander',
    'Joe': 'Hello Joe',
  'Arnold': 'Hello Arnold'
}

print(names.get('Joe', "I don't know who you are!"))

print(names.get('Rick', "I don't know who you are!"))

Hello Joe
Hello Joe

In [103]:
import pandas as pd
import numpy as np
series = pd.Series(np.random.randint(1, 12, 7))
print(list(series))
x = list(series%2==0)
print(x)
res_ind = np.argwhere(x)
print(res_ind)
print()
print(series[res_ind[1]])
# def generate(series):
#     mult_four = np.argwhere(series>2)
#     return mult_four
# generate(series)

[8, 1, 8, 3, 3, 3, 2]
[True, False, True, False, False, False, True]
[[0]
 [2]
 [6]]

2    8
dtype: int32

In [72]:
x = 11
y = 10
if y>x:
    print("y is greater")
elif x>=y:
    print("yayyyy")

else:
    print("some error")

yayyyy